---
import Layout from "../layouts/Layout.astro";

// edit the string below to whatever you want the page title to be
const pageTitle = "Example NGO | Donations";

// replace the below src with the source of your logo - a PNG or other transparent background image is highly recommended
const logoSrc = "/logo.svg";

// edit the string below to whatever link to redirect to when clicking the logo
const logoHref = "#"

// edit the string below to whatever you want the alt text of the logo to be
const logoAlt = "Example Alt"

---
<!-- Template created by Varun Sahni -->
<Layout title={pageTitle}>
  <main
    class="w-full h-full flex items-center justify-center absolute bg-backdropMobile lg:bg-backdropDesktop bg-cover bg-center bg-no-repeat"
  >
    <div
      class="w-[95%] h-fit max-w-lg max-h-[700px] bg-boxbg rounded-3xl p-7 flex items-center flex-col shadow-2xl"
    >
    <div class="top-container w-full flex flex-col items-center relative">
      <div class="grid grid-cols-3 w-[90%] max-w-lg place-items-center place-content-center text-center text-lg transition-all duration-100 scale-0 absolute top-0 left-[5%] h-full z-20" id="amountIncrement">
        <button class="mx-4 w-[90%] py-1 border-2 border-primary text-primary active:saturate-200 active:scale-105 transition-all duration-75" onclick="incrementAmount(100)">
          +100
        </button>
        <button class="mx-4 w-[90%] py-1 border-2 border-primary text-primary active:saturate-200 active:scale-105 transition-all duration-75" onclick="incrementAmount(500)">
          +500
        </button>
        <button class="mx-4 w-[90%] py-1 border-2 border-primary text-primary active:saturate-200 active:scale-105 transition-all duration-75" onclick="incrementAmount(1000)">
          +1000
        </button>
      </div>
      <a
        id="mainLogo"
        href={logoHref}
        class="hover:saturate-150 transition-all duration-100 ease-in-out scale-100 relative"
        ><img alt={logoAlt} src={logoSrc} width="300px" /></a
      >
    </div>

      <!-- The below form has an onsubmit event - link this to whatever webhook or SDK you use. Get the inputted amount in JS through (form).querySelector('input').value -->
      <form
        class="text-center"
        onsubmit="alert('Payment webhook initiated - Inputted Value: ' + this.querySelector('input').value); location.reload(); return false;"
      >
      <!-- Edit the placeholder text of the below input to whatever you want the placeholder text to be - default: "Rs." -->
        <input
          required
          id="amount-input"
          class="mt-4 w-[90%] px-5 py-4 text-[3vh] font-black bg-transparent !outline-none border-primary border-2 rounded-lg text-left focus:placeholder:text-transparent focus:scale-105 transition-all duration-150 ease-in-out"
          type="number"
          min="0"
          placeholder="Rs."
        />
        <!-- Edit the text of the below button to whatever you want the button text to be (edit text inside the 'span') - default: "Donate" -->
        <button
          type="submit"
          class="donate mt-6 text-[3vh] w-[90%] py-3 bg-primary hover:bg-transparent hover:text-primary hover:scale-105 transition-all duration-150 ease-in-out shadow-primary active:saturate-200"
          ><span class="text-shadow">Donate</span></button
        >
      </form>
    </div>
  </main>
  <div
    class="modal w-full h-full flex flex-col items-center justify-center absolute bg-slate-800 hidden"
  >
    <div
      class="w-[90%] max-w-lg h-full flex flex-col items-center justify-center"
    >
      <a
        href={logoHref}
        class="hover:saturate-150 transition-all duration-100 ease-in-out"
        ><img alt={logoAlt} src={logoSrc} width="275px" /></a
      >
      <div class="w-full rounded-full bg-primary h-0.5 mt-4"></div>
      <span class="text-center text-white px-6 mt-4">
        <!-- Replace this text with your own. This is a modal, which means that it
        will always be on top of the content, thus users see this when they first visit the site.
        You can add some about information or any pre-requisite information here. -->

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu
        molestie odio. Nullam consectetur dignissim ullamcorper. Pellentesque
        efficitur nisi ac turpis tristique varius. Pellentesque facilisis ligula
        eget augue aliquet euismod. Fusce ac pharetra justo. Sed finibus
        elementum turpis vel semper. Quisque eu venenatis urna.
      </span>

      <!-- The bellow button closes the modal. Edit the button's inner text to whatever is needed - default: "Next" -->
      <button
        onclick="this.parentElement.parentElement.classList.add('hidden'); localStorage.setItem('modalClicked', true);"
        class="w-[50%] py-5 mt-8 border-2 border-primary rounded-lg text-primary text-xl hover:bg-primary hover:text-white transition-all duration-150 ease-in-out active:saturate-200 text-shadow"
        >Next</button
      >
    </div>
  </div>
</Layout>
<script is:inline>
  if (!localStorage.getItem("modalClicked")) {
    document.querySelector(".modal")?.classList.remove("hidden");
  }

  const amountInput = document.getElementById("amount-input");
  function incrementAmount(amount) {
    amountInput.value = parseInt(amountInput.value || 0) + amount;
  }

  amountInput.addEventListener('focus', () => {
    document.getElementById('amountIncrement').classList.remove('scale-0')
    document.getElementById('amountIncrement').classList.add('scale-100')
    document.getElementById('mainLogo').classList.add('scale-0')
    document.getElementById('mainLogo').classList.remove('scale-100')
  })

  amountInput.addEventListener('blur', () => {
    document.getElementById('amountIncrement').classList.add('scale-0')
    document.getElementById('amountIncrement').classList.remove('scale-100')
    document.getElementById('mainLogo').classList.remove('scale-0')
    document.getElementById('mainLogo').classList.add('scale-100')
  })

  const amountIncrement = document.getElementById('amountIncrement')
  amountIncrement.addEventListener('mousedown', (e) => {
    if (amountInput.matches(':focus')) {
      e.preventDefault();
  }
  })

</script>
<style>
  button{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }

  .donate {
    box-shadow: 0px 0px 0px 0px;
  }

  .donate:hover {
    box-shadow: 0px 0px 0px 2px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.527);
  }
</style>
